# Python
__pycache__/
*.py[codz]
*.pyc
*.pyo
*$py.class
*.so

# Kodi dev artifacts
setup_ytdlp.bat

# Dev zips (only keep stable zips)
ytmusic/dev/*.zip
motogp/dev/*.zip

# Environments
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db
